<div class="container">
  <div class="col">
    <h2>Cart consult system</h2>
    <h4>List of makes</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let make of makes">
          <th scope="row">{{ make.id }}</th>
          <td>{{ make.name }}</td>
          <td> <!-- Modal Button -->
            <a
              href=""
              class=""
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="getModels(make.id)"
            >
              Ver modelos
            </a>

          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Marca: {{ make.name }}
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <h5>Modelos disponibles:</h5>
                  <table class="table">
                    <tr *ngFor="let model of modelsByMake">
                      <td>{{ model.name }}</td>
                    </tr>
                  </table>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div></td>
        </tr>
      </tbody>
    </table>



    <ol>
      <li *ngFor="let make of makes">
        <p>
          {{ make.name }}
         
      </li>
    </ol>
  </div>
</div>
