<div class="container">
  <h2 class="my-4">Traductor</h2>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Traducir</label>
    <textarea
      placeholder="Inserte texto a traducir."
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
  </div>
  <!-- Boton -->
  <button type="button" class="btn btn-primary">Traducir</button>
  <div class="mt-4">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Traduccion</label
    >
    <textarea
      placeholder="Aqui vera su texto traducido."
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
  </div>
</div>
