<div class="container">
  <div class="container"></div>
  <h2 class="my-4">Traductor</h2>
  <button
    type="button"
    (click)="obtenerLenguajes()"
    class="btn btn-primary mb-3"
  >
    Obtener lenguajes
  </button>

  <div class="mb-3">
    <label for="texto" class="form-label">Traducir</label>
    <textarea
      placeholder="Inserte texto a traducir."
      class="form-control"
      id="texto"
      name="texto"
      [(ngModel)]="texto"
      rows="3"
    ></textarea>
    <div class="container mt-3 d-flex flex-wrap">
      <div class="me-4">
        <label for="source" class="me-2">Source</label>
        <select
          type="text"
          id="source"
          name="source"
          value="{{ source }}"
          [(ngModel)]="source"
        >
          <option
            *ngFor="let lenguaje of languages; let i = index"
            [value]="lenguaje.language"
          >
            {{ lenguaje.language }}
          </option>
        </select>
      </div>
      <div>
        <label for="target" class="me-2">Target</label>
        <select
          type="text"
          id="target"
          name="target"
          value="{{ target }}"
          [(ngModel)]="target"
        >
          <option
            *ngFor="let lenguaje of languages; let i = index"
            [value]="lenguaje.language"
          >
            {{ lenguaje.language }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <!-- Boton -->
  <button type="button" class="btn btn-primary" (click)="traducirTexto()">
    Traducir
  </button>
  <div class="bs">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Traduccion</label
    >
    <h3>{{ textoTraducido }}</h3>
  </div>
</div>
