<div class="container">
  <h3 class="card-title my-3 text-center">Últimas Noticias</h3>

  <div class="row">
    <div class="row mb-4" *ngFor="let noticia of noticias">
      <div class="card h-100 shadow-sm">
        <img
          class="card-img-top"
          
          [src]="noticia.mainMedia[0].gallery.url"
          [alt]="noticia.mainMedia[0].gallery.alt"
        />
        <div class="card-body">
          <h4 class="card-title mt-2">{{ noticia.title }}</h4>
          <p><a href="https://www.livescore.com{{noticia.url}}">Leer mas...</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
